body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_oXPPrCtDBQLIfwEIFaWJsq7M51sLXr773Q&s");
    background-repeat: no-repeat;
    background-size: cover;
}
button {font-size: 60px;}
 